<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <%= render "shared/follow_form" if logged_in? %>
    <section class="stats">
      <%= render "shared/stat" %>
    </section>
    <section class="send_message">
      <button type="button" class = "btn btn-primary" onclick="openForm()">Chat</button>
    </section>
    <section class="exports">
      <%= link_to "export micropost as excel", export_path(format: :csv) %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <% for @micropost in @microposts %>
      <%= render "microposts/micropost", micropost: @micropost %>
      <% end %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>
<script>

function openForm() {
  $('#chats').html(
  "<%= escape_javascript(render "messages/chat_form",
                                messages: Message.current_user_messages(current_user.id),
                                receiver_id: @user.id, sender_id: current_user.id).html_safe %>"
  )
  $('#chat_window_<%= @user.id %>').css("display","block")

}

</script>
