<ul id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
    <% if can? :destroy, micropost %>
    <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
  <div class="row reaction" id ="reaction_bar">
    <section>
      <%= render 'microposts/reaction', micropost: micropost%>
    </section>
  </div>
  <div class="row comment_form">
    <section>
      <%= render 'shared/micropost_form', parent_id: micropost.id %>
    </section>
  </div>
  <div class= "row comment">
    <section id = "comment-<%= micropost.id%>">
      <% micropost.child_posts.each do |micropost| %>
        <%= render 'shared/comment', micropost: micropost %>
      <% end %>
    </section>
  </div>


</ul>
