<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <div class="row reaction">
    <% (1..4).each do |id| %>
      <%= form_with(model: current_user.reactions.build, remote: true, class:"form-img #{id}") do |form| %>
        <%= hidden_field_tag :micropost, micropost.id %>
        <%= hidden_field_tag :image_id, id %>
        <%= image_submit_tag("/assets/#{id}.png",class: "search-img #{id}",name: "img-submit-#{id}") %>
        <% reactions = get_all_reaction_by_image_id(micropost.id, id)%>
        <% if reactions.first %>
          <%= content_tag(:span,reactions.count,id: "react-count-#{id}") %>
        <%else%>
          <%= content_tag(:span,0,id: "react-count-#{id}") %>
        <%end%>
      <%end%>
    <%end%>
  </div>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>